.container{
    padding: 0;
    margin: 0;
    background-color: #1d1b31;
    min-height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    padding-bottom: 5rem;
}

/* 
    Hero
 */

.hero{
    background-color: aqua;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1241%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1242)'%3e%3c/rect%3e%3cpath d='M1837.548%2c773.403C1929.52%2c773.234%2c2028.749%2c756.415%2c2076.599%2c677.871C2125.94%2c596.879%2c2108.308%2c492.916%2c2057.027%2c413.138C2009.844%2c339.735%2c1924.808%2c306.135%2c1837.548%2c305.974C1749.962%2c305.812%2c1664.154%2c338.733%2c1616.661%2c412.325C1564.907%2c492.519%2c1547.167%2c597.332%2c1596.974%2c678.75C1645.172%2c757.539%2c1745.186%2c773.572%2c1837.548%2c773.403' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M317.796%2c1171.637C390.141%2c1171.171%2c437.071%2c1101.568%2c468.544%2c1036.426C495.435%2c980.768%2c492.947%2c919.386%2c466.711%2c863.416C434.812%2c795.366%2c392.87%2c718.332%2c317.796%2c714.834C239.23%2c711.173%2c176.564%2c777.317%2c142.736%2c848.321C113.353%2c909.994%2c131.118%2c978.317%2c163.645%2c1038.391C198.305%2c1102.405%2c245.003%2c1172.106%2c317.796%2c1171.637' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M698.3594579619887 406.01907575826664L850.0307067180858 691.2712073259852 1135.2828382858042 539.5999585698883 983.6115895297073 254.34782700216962z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1575.861%2c1134.463C1659.692%2c1131.402%2c1744.496%2c1107.528%2c1789.3%2c1036.608C1837.052%2c961.022%2c1839.056%2c864.645%2c1795.727%2c786.44C1751.049%2c705.802%2c1668.049%2c651.5%2c1575.861%2c651.374C1483.467%2c651.248%2c1402.653%2c706.709%2c1354.952%2c785.837C1305.472%2c867.917%2c1282.3%2c972.294%2c1333.599%2c1053.25C1382.46%2c1130.359%2c1484.636%2c1137.794%2c1575.861%2c1134.463' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1141.91 213.24 a335.71 335.71 0 1 0 671.42 0 a335.71 335.71 0 1 0 -671.42 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M108.03667176441131 522.6912701760009L213.80940354847797 798.238657089463 489.35679046194014 692.4659253053965 383.5840586778735 416.91853839193425z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1241'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='119.44%25' x2='89.06%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1242'%3e%3cstop stop-color='rgba(255%2c 0%2c 254%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 2%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1034%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient1035)'%3e%3c/rect%3e%3cpath d='M258.08 794.28 a220.4 220.4 0 1 0 440.8 0 a220.4 220.4 0 1 0 -440.8 0z' fill='rgba(76%2c 0%2c 149%2c 0.71)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M653.6 349.56 a303.02 303.02 0 1 0 606.04 0 a303.02 303.02 0 1 0 -606.04 0z' fill='rgba(76%2c 0%2c 149%2c 0.71)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M992.63%2c365.846C1027.091%2c365.738%2c1067.074%2c365.455%2c1084.208%2c335.555C1101.291%2c305.744%2c1082.307%2c270.545%2c1063.85%2c241.564C1047.171%2c215.375%2c1023.656%2c192.957%2c992.63%2c191.756C959.596%2c190.477%2c929.015%2c207.823%2c911.17%2c235.652C891.674%2c266.056%2c880.895%2c305.514%2c900.052%2c336.133C918.477%2c365.581%2c957.893%2c365.955%2c992.63%2c365.846' fill='rgba(76%2c 0%2c 149%2c 0.71)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1646.9 1002.46 a190.15 190.15 0 1 0 380.3 0 a190.15 190.15 0 1 0 -380.3 0z' fill='rgba(76%2c 0%2c 149%2c 0.71)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1034'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='119.44%25' x2='89.06%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1035'%3e%3cstop stop-color='rgba(255%2c 0%2c 254%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 2%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}
.hero svg{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60%; 
    width: 100%;
}
.blob svg{
    width: 35%;
    position: absolute;
    top: -23vh;
    left: -15%;
    overflow-x: hidden;
    border-spacing: 0px 0px;
}
.blob2 svg{
    width: 35%;
    position: absolute;
    top: 50vh;
    left: 80%;
    overflow: hidden;
    border-spacing: 0px 0px;
}
.cta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30vh;
    z-index: 999;
}
.cta h1{
    font-size: 3rem;
}
.cta p{
    font-size: 1.5rem;
    color: #ccc;
}
.cta .start{
    transition: all 0.3s ease 0s;
    margin-top: 4rem;
    width: 256px;
    height: 64px;
    border-radius: 32px;
    border-color: #ffffff00;
    background-color: #00ffd5;
    background-image: linear-gradient(to right, #00ffd5, #00aeff);
    font-size: 1.7rem;
    color: #fff;
    box-shadow: 2px 2px 2px 2px #11111155;
}
.btn .start:hover{
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: #00aeff;
}


.main__btn {
    font-size: 1.8rem;
    background: #833ab4;
    background: linear-gradient(to left, #00ffd5, #00aeff);
    padding: 10px 50px;
    border: none;
    border-radius: 1.9rem;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    transition: all 0.35s;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
    border-radius: 1.9rem;
}

.main__btn:hover{
    transition: all 0.35s;
    color: #fff;  
    border-radius: 1.9rem;
    background: linear-gradient(to top left, #00ffd5dd, #00aeffdd);
}
.btn{
    margin-top: 4rem;
}

/* 
    Login
 */

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1b31;
    width: 100%;
    padding: 15rem 0;
    z-index: 50;
    scroll-behavior: smooth;
}
.login .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0;
}
.login .text{
    padding: 0 5rem;
}
.login .example{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .example img{
    width: 70%;
    border-radius: 10px;
}
.login .title{
    font-size: 62px;
    font-weight: 600;
}
.login .description{
    font-size: 20px;
}
.login .form{
    padding-top: 1rem;
}
.login .email{
    width: 55%;
    height: 64px;
    border-radius: 4px;
    border: solid 1px #22e9ff;
    font-size: 1rem;
    padding-left: 1.2rem;
    outline: none;
    background-color: #1d1b31;
    color: white;
}

.login .submit{
    width: 35%;
    height: 64px;
    margin-left: 2rem;
    border-color: #ffffff00;
    border-radius: 8px;
    font-size: 1.5rem;
    background-color: #2200ff;
    border: none;
    background: linear-gradient(to top left, #00ffd5dd, #00aeffdd);
    color: white;
    transition: all 0.2s;
    font-weight: 400;
}
.login .submit:hover{
    cursor: pointer;
    transition: all 0.2s;
    background: linear-gradient(to top, #00ffd5dd, #00aeffdd);
    font-weight: 400;
}

/* 
    Features
 */

.features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}
.features .header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.features .header h1{
    font-size: 2.5rem;
    font-weight: 900;
}
.features .header p{
    font-size: 1.7rem;
    font-weight: 300;
}
.features .features-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 5rem;

}
.features-box{
    width: 19%;
    height: 250px;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: rgb(80 78 78 / 50%) 3px 3px 20px;
    background-color: #1d1b31;
    
}
.features-box h1{
    margin: 0.6rem 1rem;
    font-size: 1.7rem;
    min-height: 100px;
}
.features-box i{
    text-align: center;
    vertical-align: middle;
    border-radius: 1.4rem;
    padding-top: 0.5rem;
    width: 2.8rem;
    height: 2.8rem;
    background-color: #00aeff;
}
.features-box p{
    margin: 0.8rem 1rem;
}


/* 
    Markets
 */

 .home-markets{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 10rem;
}
.home-markets .content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-size: 1.3rem;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    min-width: 70%;
  }

.home-markets .content-table thead tr {
    background-color: #7a7a7a;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.home-markets .content-table tbody th,
.home-markets .content-table tbody td {
        padding: 24px 15px;
}
.home-markets .content-table thead th,
.home-markets .content-table thead tr {
    padding: 12px 15px;
}

.home-markets .content-table tbody tr {
    border-bottom: 1px solid #dddddd44;
}

.home-markets .content-table .pairs{
    padding-right: 10rem;
}
.home-markets .content-table .short{
    font-size: 1rem;
    color: #bbb;
}
.home-markets .content-table .percent{
    color: #dd1111;
    font-weight: 300;
}
.home-markets .content-table img{
    border-radius: 16px;
    width: 32px;
    vertical-align: middle;
}
.home-markets .content-table td button{
    padding: 0.5rem 2rem;
    border-radius: 3px;
    border: none;
    background-color: #22c8ff;
    transition: all 0.3s;
}
.home-markets .content-table td button a{
    text-decoration: none;
    color: white;
}
.home-markets .content-table td button:hover{
    cursor: pointer;
    background-color: #22e9ffbb;
    transition: all 0.3s;
}