.pair-container{
    min-height: 117vh;
    background-color: #1d1b31;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
.trade-info{
    height: 90vh;
    width: 65%;
}
.trading{
    max-height: 90vh;
    display: flex;
}
.trades{
    width: 27%;
}
.order{
    width: 17.5%;
    height: 60vh;
    background-color: #131722;
    border-radius: 4px;
    margin-left: 0.4rem;
}
.watchlist{
    width: 17%;
    margin-left: 0.4rem;
    height: 108.7vh;
    border-radius: 4px;
    background-color: #131722;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.book{
    height: 50vh;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    background-color: #131722;
    border-radius: 4px;
}
.recent-trades{
    height: 41vh;
    margin: 0 0.4rem;
    background-color: #131722;
    border-radius: 4px;
}
.trade-open-positions{
    width: 127.5%;
    height: 48vh;
    margin-top: 0.4rem;
    padding-top: 2rem;
    background-color: #131722;
    border-radius: 4px;
    overflow-y: scroll;
}
.trade-open-positions::-webkit-scrollbar {
    width: 6px;           /* width of the entire scrollbar */
}
.trade-open-positions::-webkit-scrollbar-track {
    background: #1d1b31;        /* color of the tracking area */
}
.trade-open-positions::-webkit-scrollbar-thumb {
    background: #11101d;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 0.5px solid #00000000;  /* creates padding around scroll thumb */
}
.chart{
    z-index: 100;
    width: 100%;
    height: 60vh;
    border-radius: 4px;
}
.bar{
    margin-bottom: 0.4rem;
    padding: 0.5rem 0;
    padding-left: 1rem;
    width: 100%;
    background-color: #131722;
}
.error{
    background-color: #1d1b31;
    min-height: 100vh;
}
.position{
    display: flex;
    flex-direction: row;
    border: white solid 1px;
    border-radius: 5px;
    padding-left: 1rem;
}
.position p{
    margin: 0.4rem;
}

.open_positions-table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.open_positions-table th{
    font-size: 12px;
    font-weight: 300;
    color: #aaa;
    padding-bottom: 0.6rem;
}
.open_positions-table tbody td{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dddddd44;
    border-top: 1px solid #dddddd44;
    font-size: 16px;
    font-weight: 400;
}

.position__symbol{
    padding-left: 2rem;
    border-left: solid 0.5rem rgb(14, 203, 129);
}
.position__size{
    color: rgb(14, 203, 129);
    /* padding-left: 3rem; */
}
.position__entry-price{
    padding-left: 3%;
    margin-left: 4rem;
}
.position__price{
    padding-left: 2.5rem;
}
.position__entry-margin{
    padding-left: 2rem;
}
.position__margin{
    padding-left: 2rem;
}


.position__margin.grey{
    color: #999;
}
.position__price.grey{
    color: #999;
}
.position__pnl.red{
    color: rgb(246, 70, 93);
}
.position__pnl.green{
    color: rgb(14, 203, 129);
}
.position__pnl{
    padding-left: 2rem;
    color: rgb(246, 70, 93);
}
/* .position__symbol-head{
    padding-right: 3%;
}
.position__entry-head{
    padding-right: 2%;
}
.position__price-head{
    padding-right: 3%;
}
.position__entry-margin-head{
    padding-right: 3%;
}
.position__margin-head{
    padding-right: 2%;
}
.position__pnl-head{
    padding-right: 5%;
} 
.position__size-head{
    padding-right: 3%;
}
*/
.position__close{
    padding-right: 1rem;
    text-align: center;
}
.position__close button{
    border: none;
    padding: 0.2rem 0.7rem;
    border-radius: 4px;
    background-color: #00aeff;
    transition: all 0.3s ease;
}
.position__close button:hover{
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #00aeff99;
}
.multiplier{
    font-size: 0.8rem;
    background-color: #00aeff22;
    border-radius: 2px;
    padding: 0.1rem 0.3rem;
    color: #00aeff;
}
.trade{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.trade h1{
    padding-bottom: 3rem;
}
.trade .margin{
    width: 90%;
    height: 2.6rem;
    border: solid 1px #fff;
    background-color: #1d1b31;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #aaa;
}
.trade .margin-percent{
    width: 85%;
    background-color: red;

}
.percent-label-box{
    text-align: left;
    padding-top: 0.3rem;
    color: #999;
    font-size: 0.8rem;
    width: 85%;
}
.trade-buy-buttons{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35%;

}
.trade-long-button{
    width: 45%;
    margin-right: 1rem;
    height: 2.4rem;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    background-color: rgba(14, 203, 129, 0.6);
    transition: all 0.3s ease;
}
.trade-short-button{
    width: 45%;
    margin-left: 1rem;
    height: 2.4rem;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    background-color: rgba(246, 70, 93, 0.6);
    transition: all 0.3s ease;
}
.trade-long-button:hover{
    cursor: pointer;
    background-color: rgba(14, 203, 129, 1);
    transition: all 0.3s ease;
}
.trade-short-button:hover{
    cursor: pointer;
    background-color: rgba(246, 70, 93, 1);
    transition: all 0.3s ease;
}
.trade-divide{
    width: 100%;
    border-top: 0.3px solid #1d1b31bb;
    border-bottom: 0.1px solid #11111100;
    border-left: #131722;
    border-right: #131722;
}
.leverage-input{
    width: 90%;
    height: 2.6rem;
    border: solid 1px #fff;
    background-color: #1d1b31;
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1rem;
    color: #aaa;

}
.position__close.unavail button{
    background-color: #00aeff55;
}
.trade-long-button.unavailable{
    color: #444;
}

.watchlist-table-container{
    padding-top: 1rem;
    width: 100%;
}
.watchlist-table-container table{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.76rem;
    border-collapse: collapse;
}
.watchlist-table-container table i{
    padding-right: 0.5rem;
    padding-left: 0.7rem;
    color: rgb(246, 70, 93);
}
.watchlist-table-container .watchlist-change{
    padding-left: 27%;
}
.watchlist-table-container .watchlist-price{
    padding-left: 65%;
}
.watchlist-table-container table th{
    font-size: 0.6rem;
    color: #999;
}
.watchlist-table-container tbody tr{
    transition: all 0.2s ease;
}
.watchlist-table-container tbody tr:hover{
    cursor: pointer;
    background-color: #44444433;
    transition: all 0.2s ease;
}
.watchlist-table-container td{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-top: 1px solid #dddddd44;
    width: 50%;
}
.watchlist-symbol{
    padding-left: 1rem;
}
.pair-info-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.pair-info-text label{
    color: #999;
    font-size: 0.8rem;
}
.pair-info-change{
    display: flex;
    flex-direction: column;
    max-width: 10rem;
}
.pair-info-change .info{
    display: flex;
    flex-direction: row;
}
.pair-info-text div{
    height: 100%;
    padding: 0 2rem;
    overflow-x: hidden;
}
.pair-info-pair{
    font-size: 2rem;
    padding-right: 1rem;
    height: 3rem;
    border-right: 1px solid #44444466;
}
.pair-info-price{
    font-size: 2rem;
    max-width: 11rem;
    overflow-x: hidden;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(246, 70, 93, 1);
}
.pair-info-low{
    max-width: 10rem;
}
.pair-info-high{
    max-width: 10rem;
}
.pair-info-quote{
    max-width: 15rem;
}
.pair-info-volume{
    max-width: 15rem;
}
.pair-info-price.green{
    color: rgba(14, 203, 129, 1);
}
.pair-info-change .info .right{
    padding-left: 0.5rem;
}
.pair-info-change .info{
    color: rgba(246, 70, 93, 1);
}
.pair-info-change .info.green{
    color: rgba(14, 203, 129, 1);
}