.trending{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.box{
    margin-top: 6vh;
    margin-right: 1rem;
    margin-left: 1rem;
    background-color: #4f4370;
    padding: 1rem;
    min-height: 140px;
    border-radius: 5px;
    transition: all 0.3s;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #11111155;
}
.box:hover{
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 4px 4px 4px 4px #11111166   ;
}
.trade-markets{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.content .pair{
    font-size: 1.6rem;
}
.content .price {
    display: flex;
}
.content .price{
    color: #2eff63;
    font-size: 1.4rem;
}
.content.minus .price{
    color: #ff2e63;
    font-size: 1.4rem;
}
.content .price .dollars{
    color: rgb(170, 170, 170);
    padding-top: 0.4rem;
    padding-left: 0.3rem;
    font-size: 1rem;
    vertical-align: bottom;
}
.change{
    display: flex;
    color: #2eff63;
}
.content.minus .change{
    color: #ff2e63;
}
.change .amount{
    color: white;
    padding-left: 1.3rem;
}
.table{
    background: #4d4370;
    width: 95%;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
    border-radius: 5px;
}
.table table{
    width: 100%;
}

.neg{
    color: #ff2e63;
}
.pos{
    color: #2eff63;
}
.h_label{
    color: #eee;
    padding-right: 0.4rem;
}
.content .price{
    display: inline-block;
    min-width: 105px;
}
.content .dollars{
    display: inline-block;
}
.content .change{
    padding-top: 1rem;
}
.table .trade{
}
.table tbody .trade{
    flex: 1;
    padding-left: 2rem;
}
.markets-container{
    background-color: #1d1b31;
    width: 100%;
}
@media screen and (max-width: 1440px){
    .table td{
        padding-top: 0.9rem;
        padding-left: 0.4rem;
        padding-right: 1.8rem;
    }
    .table tbody tr{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 1290px){
    .table td{
        padding-top: 0.7rem;
        padding-left: 0.3rem;
        padding-right: 1.4rem;
    }
    .table tbody tr{
        font-size: 0.8rem;
    }
}
/* @media screen and (max-width: 1140px){
    .table td{
        padding-top: 0.9rem;
        padding-left: 0.4rem;
        padding-right: 1.8rem;
    }
    .table tbody tr{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 1440px){
    .table td{
        padding-top: 0.9rem;
        padding-left: 0.4rem;
        padding-right: 1.8rem;
    }
    .table tbody tr{
        font-size: 1.2rem;
    }
} */
.trade-markets .markets-content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 80%;
    font-size: 1.3rem;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

.trade-markets .markets-content-table thead tr {
    background-color: #7a7a7a;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.trade-markets .markets-content-table tbody th,
.trade-markets .markets-content-table tbody td {
        padding: 12px 15px;
}
.trade-markets .markets-content-table thead th,
.trade-markets .markets-content-table thead tr {
    padding: 12px 15px;
}

.trade-markets .markets-content-table tbody tr {
    border-bottom: 1px solid #dddddd44;
}

.trade-markets .markets-content-table .short{
    font-size: 1rem;
    color: #bbb;
}
.trade-markets .markets-content-table .percent{
    color: #dd1111;
    font-weight: 300;
}
.trade-markets .markets-content-table img{
    border-radius: 16px;
    width: 32px;
    vertical-align: middle;
}
.trade-markets .markets-content-table td button{
    padding: 0.5rem 2rem;
    border-radius: 3px;
    border: none;
    background-color: #00aeff;
    transition: all 0.3s;
}
.trade-markets .markets-content-table td button a{
    text-decoration: none;
    color: white;
}
.trade-markets .markets-content-table td button:hover{
    cursor: pointer;
    background-color: #00aeffbb;
    transition: all 0.3s;
}
.trade-markets .markets-content-table .pairs{
    padding-left: 6rem;
}
.searchbar{
    display: flex;
    width: 93%;
    flex-direction: row-reverse;
    margin-top: 3rem;
    margin-bottom: 8px;
}
.markets-container .search-bar{
    border-radius: 20px;
    height: 40px;
    width: 160px;
    border: none;
    background-color: #4f4370;
    padding-left: 1rem;
}
.loading{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}