*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}
body::-webkit-scrollbar {
    width: 8px;           /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
    background: #1d1b31;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    background-color: #0c0a21;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 0.5px solid #000;  /* creates padding around scroll thumb */
}